<div class="container bg-danger bg-opacity-50">
  <%= form_with scope: scope, url: url, local: true do |f| %>
    <div class="form-container">

      <%# users_contllerの場合のみ名前入力欄を表示 %>
      <% if controller.controller_name == "users" %>
        <div class="form-group w-50">
          <%= f.label :email, '名前' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-group w-50">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group w-50 mb-5">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit submit_name, class: 'btn btn-danger w-50 mb-4' %>
      <p><%= next_page %><%= link_to link_name, path, class: "text-dark" %></p>
      
      </div>
      <% end %>
</div>