<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="bg-danger text-white mb-4 p-2 d-flex">
    <h2>Rails Todo App</h2>
    <nav class="navbar mx-5 w-75">
      <ul class="nav list-unstyled h6 d-flex justify-content-between w-100">
        <li><%= link_to 'タスク一覧', tasks_path, class: "nav-item text-white text-decoration-none" %></li>
        <li><%= link_to 'ログアウト', tasks_path, class: "nav-item text-white text-decoration-none" %></li>
      </ul>
    <nav>
  </header>
  <% if flash.notice.present? %>
    <div class="alert alert-primary"><%= flash.notice %></div>
  <% end %>
  <% if flash.alert.present? %>
    <div class="alert alert-danger"><%= flash.alert %></div>
  <% end %>
  <div class="w-75 mx-auto">
    <%= yield %>
  </div>
  </body>
</html>
